---
layout: default
title: Home
---
{% if page.url == "/" %}
<script>
    function sha512( str ) {
        return crypto.subtle.digest( "SHA-512", new TextEncoder( "utf-8" ).encode( str ) ).then( buf => {
            return Array.prototype.map.call( new Uint8Array( buf ), x => ( ( '00' + x.toString( 16 ) ).slice( -2 ) ) ).join( '' );
        } );
    }
    const windowURL = window.location.href.split( '#' )[ 1 ];
    const hash = "{{site.hash}}";

    sha512( windowURL ).then( x => {
        if ( x !== hash ) document.write( `
<div class="na">Not Authorized for Access!</div>
<style>
body {padding: 0;margin: 0;background: #ccc;}
.na {
    width: 90%;height: 90%;
    margin:0 auto;border-radius:32px;
    text-align: center;display: flex;
    margin-top:5vh;
    justify-content: center;align-items: center;
    color: #f44;background:#fff;
    font: lighter 64px Helvetica;
}
</style>` )
    } );
</script>

<style>
    body {
        background: #f5f5f7;
        font-size: 16px;
    }

    .card {
        border: none;
    }
</style>

<section class="featured-posts">
    <div class="section-title">
        <h2><span>The Front</span></h2>
    </div>
    <div class="row">

        {% assign timeframe = 172800 %}

        {% for post in site.posts %}
        {% assign post_in_seconds = post.date | date: "%s" | plus: timeframe %}
        {% assign recent_posts = "now" | date: "%s" | minus: 0 %}

        {% if post_in_seconds > recent_posts %}

        {% include featuredbox.html %}

        {% endif %}
        {% endfor %}

    </div>
</section>

{% endif %}

<section class="recent-posts">

    <div class="section-title">

        <h2><span>All Stories</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<div class="bottompagination">
    <div class="pointerup"><i class="fa fa-caret-up"></i></div>
    <span class="navigation" role="navigation">
        {% include pagination.html %}
    </span>
</div>