---
layout: default
title: Home
---
{% if page.url == "/" %}
<style>
    body {
        background: #eef4;
        font-size: 16px;
    }

    .card {
        border: none;
    }
</style>

<section class="featured-posts">
    <div class="row">

        {% assign timeframe = 86400 | times: 183 %}

        {% for post in site.posts %}
        {% assign post_in_seconds = post.date | date: "%s" | plus: timeframe %}
        {% assign recent_posts = "now" | date: "%s" | minus: 0 %}

        {% if post_in_seconds > recent_posts %}

        {% include featuredbox.html %}

        {% endif %}
        {% endfor %}

    </div>
</section>

{% endif %}

<section class="recent-posts px-5">
    <div class="section-title">
        <h2><span>The Actual Universe</span></h2>
    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}
        {% include postbox.html %}
        {% endfor %}

    </div>

</section>

<div class="bottompagination">
    <div class="pointerup"><i class="fa fa-caret-up"></i></div>
    <span class="navigation" role="navigation">
        {% include pagination.html %}
    </span>
</div>