<div class="col-md-6 mb-30px">
    <div class="listfeaturedtag h-100" style="border-radius:0.5em;overflow:hidden;">
        <a href="{{ site.baseurl }}{{ post.url }}">
            <div style="position: relative;">
                <div class="wrapthumbnail">
                    <a href="{{ site.baseurl }}{{ post.url }}" style="height: 300px;">
                        <img class="featured-box-img-cover w-100" src="{% if post.image contains '://' %}{{ post.image }}{% else %}{{ site.baseurl
                                }}/{{ post.image }}{% endif %}" style="height: 300px;object-fit: cover;">
                    </a>
                </div>
                <div class="apple-card w-100">
                    <span class="post-date font-weight-bold">{{ post.date | date_to_string }}</span>
                    <h3 class="apple-title">{{ post.title }}</h3>
                    <h5 class="apple-desc">{{ post.excerpt | strip_html | truncatewords:50 }}</h5>
                    </span>
                </div>
            </div>
        </a>
    </div>
    <style>
        .apple-card {
            color: #fff;
            position: absolute;
            bottom: 0;
            padding: 10px;
            left: 0;
            z-index: 1;
            background: linear-gradient(to bottom, #0000, #000);
        }

        .apple-desc,
        .post-date {
            font-size: 0.8em;
            color: #fff !important;
        }
    </style>
</div>