{% assign img = post.image % }
{% endif %}

<a href="{{ site.baseurl }}{{ post.url }}" class="col-md-12 mainBg"
    style="background: url({{img}}) center center no-repeat;background-size: cover;background-attachment: fixed;height: 400px;">
    <div class="apple-card d-flex flex-column justify-content-center align-items-center w-100">
        <h3 class="apple-title">★ {{ post.title }}</h3>
        <h5 class="apple-desc">{{ post.excerpt | strip_html | truncatewords:28}}</h5>
        <br>
        <span style="font: 500 italic 16px Helvetica;">See the {{post.type}} &rarr;</span>
        </span>
    </div>
    <style>
        .apple-card {
            color: #fff;
            position: absolute;
            top: 0;
            font: bold 32px Helvetica;
            height: 100%;
            left: 0;
            z-index: 1;
            background: #0008;
            padding: 0 20%;
        }

        .apple-title {
            padding: 20px;
            margin-bottom: 30px;
            border: 2px solid #fff;
        }

        .apple-desc {
            text-align: justify;
            font: lighter 24px Times;
            color: #fff !important;
        }

        @media (max-width: 400px) {
            .apple-card {
                padding: 0 5%;
            }
        }
        /* @media (max-width: 400px){
            .apple-card.d-flex.flex-column.justify-content-center.align-items-center.w-100 {
                padding: 0 10%;
            }
        } */
    </style>
</a>