<div class="col-lg-4 col-md-6 mb-30px card-group">
    <div class="card h-100" style="overflow: hidden;">
        <div class="maxthumb">
            <style>
                .postImg {
                    height: 200px;
                    object-fit: cover;
                }
            </style>
            <a href="{{ site.baseurl }}{{ post.url }}" style="padding-top: 75%;">
                {% if post.image %}
                <img class="postImg w-100" src="{% if post.image contains '://' %}{{ post.image }}{% else %}{{ site.baseurl }}/{{
                    post.image }}{% endif %}" alt="{{ post.title }}">
                {% endif %}
            </a>
        </div>
        <div class="card-body">
            <h2 class="card-title">
                <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </h2>
            <div class="py-2">

                <h4 class="text-justify card-text mb-30px">{{ post.excerpt | strip_html | truncatewords:30 }}</h4>
                <div class="post-details">
                    <p class="author">{{ post.author }}</p>
                    <p class="post-date">{{ post.date | date_to_string }}</p>
                </div>
            </div>
        </div>
    </div>
</div>