@media screen and (min-width:1500px) {
	html {
		font-size: 18px;
	}
	.container {
		max-width: 80%;
	}
}
.mainheading {
	padding: 1rem 0;
	h1.posttitle {
		font-weight: 700;
		margin-bottom: 1rem;
	}
}
a {
	color: var(--theme);
	transition: all .2s;
	&:hover {
		color: var(--theme-em);
		text-decoration: none;
	}
}
.main-content {
	min-height: 300px;
}
section {
	margin-bottom: 20px;
}
section.recent-posts {
	margin-bottom: 0;
}
.section-title {
	h2 {
		border-bottom: 1px solid rgba(0,0,0,.125);
		margin-bottom: 25px;
		font-weight: 700;
		font-size: 1.4rem;
		margin-bottom: 27px;
	}
	span {
		border-bottom: 1px solid rgba(0,0,0,.44);
		display: inline-block;
		padding-bottom: 20px;
		margin-bottom: -1px;
	}
}
.article-post {
	ul {
		margin-bottom: 1.5rem;
		ul {
			list-style: disc;
			margin-bottom: 0;
		}
	}
	font-size: 1.1rem;
	line-height: 1.84;
	color: rgba(0,0,0,.8);
	blockquote {
		margin: 0 0 1.5rem 0;
	}
	p {
		margin: 0 0 1.5rem 0;
	}
	img.shadow {
		-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
		-moz-box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
		box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
	}
}
.listfeaturedtag {
	.wrapthumbnail {
		height: 290px;
		flex: 0 0 auto;
		height: 100%;
	}
	.card {
		border: 0;
	}
	.card-block {
		padding-left: 0;
	}
	h2.card-title {
		font-size: 1.3rem;
		font-weight: 700;
		line-height: 1.25;
	}
	h4.card-text {
		color: rgba(0,0,0,.44);
		font-size: .95rem;
		line-height: 1.6;
		font-weight: 400;
	}
}
.maxthumb {
	max-height: 300px;
	overflow: hidden;
}
.card-footer {
	border: 0;
}
.listrecent {
	h2.card-title {
		font-size: 1.3rem;
		font-weight: 700;
		line-height: 1.25;
	}
	h4.card-text {
		color: rgba(0,0,0,.44);
		font-size: .95rem;
		line-height: 1.6;
		font-weight: 400;
	}
}
.featured-box-img-cover {
	object-fit: cover;
	width: 100%;
	height: 100%;
	max-height: 100%;
}
.wrapfooter {
	font-size: .8rem;
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}
.post-top-meta {
	margin-bottom: 2rem;
	span {
		font-size: .9rem;
		color: rgba(0,0,0,.44);
		display: inline-block;
	}
	.author-description {
		margin-bottom: 5px;
		margin-top: 5px;
		font-size: .95rem;
	}
}
.toc {
	ul {
		list-style: decimal;
		font-weight: 400;
	}
}
.author-meta {
	flex: 1 1 auto;
	white-space: nowrap !important;
	text-overflow: ellipsis !important;
	overflow: hidden !important;
}
span.author-meta {
	display: inline-block;
}
span.post-date {
	display: inline-block;
	color: rgba(0,0,0,.44);
}
span.post-name {
	display: inline-block;
	a {
		color: rgba(0,0,0,.8);
	}
}
span.post-read {
	color: rgba(0,0,0,.44);
}
span.post-read-more {
	align-items: center;
	display: inline-block;
	float: right;
	margin-top: 8px;
	a {
		color: rgba(0,0,0,.44);
		&:hover {
			color: rgba(0,0,0,.8);
		}
	}
}
.footer {
	border-top: 1px solid rgba(0,0,0,.05) !important;
	padding-top: 15px;
	padding-bottom: 12px;
	font-size: .8rem;
	color: rgba(0,0,0,.44);
	margin-top: 50px;
	position: relative;
	background: #fff;
}
.link-dark {
	color: rgba(0,0,0,.8);
}
blockquote {
	border-left: 4px solid var(--theme);
	padding: 0 20px;
	font-style: italic;
	color: rgba(0,0,0,.5);
}
.featured-image {
	display: block;
	margin-bottom: 1.5rem;
}
ul.tags {
	list-style: none;
	padding-left: 0;
	margin: 0 0 3rem 0;
	li {
		display: inline-block;
		font-size: .9rem;
		a {
			background: rgba(0,0,0,.05);
			color: rgba(0,0,0,.6);
			border-radius: 3px;
			padding: 5px 10px;
			&:hover {
				background: rgba(0,0,0,.07);
				text-decoration: none;
			}
		}
	}
}
.layout-page {
	.article-post {
		font-size: 1rem;
		p {
			margin-bottom: 1rem;
		}
	}
	.jumbotron.fortags {
		display: none;
	}
}
img {
	max-width: 100%;
}
.bottompagination {
	span.navigation {
		display: block;
		font-size: .93rem;
		padding: 15px 0 0 0;
		text-align: center;
		margin-bottom: 0;
		color: #999;
		border-top: 1px solid #ddd;
		i {
			display: inline-block;
		}
	}
}
.pointerup {
	margin-bottom: -17px;
	margin-left: 49%;
	font-size: 30px;
	i.fa {
		color: #eaeaea;
	}
}
span.navigation {
	display: inline-block;
	font-size: .93rem;
	font-weight: 700;
	text-align: center;
}
.pagination {
	display: block;
}
.transpdark {
	background: rgba(0,0,0,.5);
	color: #fff;
}
.jumbotron.fortags {
	margin-top: 3rem;
	padding: 0;
	border-radius: 0;
	background-image: url(../images/jumbotron.jpg);
	background-size: cover;
	a {
		padding: 5px 10px 7px;
		background: #222;
		border-radius: 30px;
		color: #fff;
		font-weight: 500;
		text-transform: lowercase;
		font-size: .8rem;
		display: inline-block;
	}
}
.mb-30px {
	margin-bottom: 30px;
}
.flex-first {
	-webkit-box-ordinal-group: 0;
	-webkit-order: -1;
	-ms-flex-order: -1;
	order: -1;
}
.card {
	.img-fluid {
		width: 100%;
	}
}
.sticky-top-80 {
	top: 80px;
}
@media (min-width:992px) {
	.navbar-expand-lg {
		.navbar-nav {
			.nav-link {
				padding-right: .8rem;
				padding-left: .8rem;
			}
		}
	}
}
@media (max-width:991px) {
	.featured-box-img-cover {
		height: auto;
		width: 100%;
	}
}
@media (max-width:999px) {
	.featured-box-img-cover {
		height: 359px;
	}
	.jumbotron.fortags {
		margin-bottom: 0 !important;
	}
	.jumbotron {
		margin-bottom: 0;
		border-radius: 0;
	}
	.listfeaturedtag {
		.card {
			height: auto;
		}
		.wrapfooter {
			position: relative;
			margin-top: 30px;
		}
		.card-block {
			padding: 20px;
		}
	}
	.footer {
		margin-top: 0;
		margin-bottom: 0;
	}
}
@media (max-width:1024px) {
	.post-top-meta {
		.col-md-10 {
			text-align: center;
		}
	}
}
@media (min-width:768px) {
	.jumbotron.fortags {
		margin-bottom: -50px;
		margin-top: 3rem;
		padding: 0;
		height: 350px;
		border-radius: 0;
		background-image: url(../images/jumbotron.jpg);
		background-size: cover;
		.col-md-4 {
			background: rgba(0,0,0,.75);
			color: #fff;
		}
		.row {
			margin: 0;
		}
	}
	.flex-md-unordered {
		-webkit-box-ordinal-group: 1;
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
	}
	.flex-first {
		-webkit-box-ordinal-group: 0;
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
	}
}
