<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ site.baseurl }}/assets/images/logo.png">

    <title>{{ page.title }} | {{site.name}}</title>

    <link rel="preconnect" href="https://i.imgur.com">
    <meta name="robots" content="noindex nofollow">
    {% seo %}
    <link href="{{ site.baseurl }}/assets/css/bootstrap-moded.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/screen.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/global.css" rel="stylesheet">

</head>

{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}

<body class="{{layout}}" xmlns="http://www.w3.org/2000/svg">
    <!-- Begin Menu Navigation
================================================== -->
    <div class="w-100 d-flex justify-content-center align-items-center"
        style="background: url(https://bitsgcelestia.files.wordpress.com/2019/09/cropped-img_0636-1.jpg) center center no-repeat;background-size:cover;min-height:200px; color:#fff;font: 700 32px Helvetica;">
        <span class="p-5 blur-8" style="background:#0008;">
            {{site.name}}
        </span>
    </div>

    <nav class="navbar navbar-dark navbar-expand-lg bg-light fixed-top nav-down position-sticky top-0">
        <div class="container pr-0">
            <a class="navbar-brand" href="{{ site.baseurl }}/">{{site.name}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMediumish"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarMediumish">
                <ul class="navbar-nav ml-auto">
                    {% if page.url == "/" %}
                    <li class="nav-item active">
                        {% else %}
                    <li class="nav-item">
                        {% endif %}
                        <a class="nav-link" href="{{ site.baseurl }}/index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.baseurl }}/about">About</a>
                    </li>
                    <li>
                        <form action="/search" method="get">
                            <input type="text" placeholder="Search..." id="search_box" name="query">
                            <input type="submit" value="" style="visibility:hidden;width: 1px">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="main-content">{{ content }}</div>
    <footer class="footer">
        <div class="row m-0 p-1">
            <div class="col-md-6 col-sm-6 text-center text-lg-left">
                Copyright © {{ site.time | date: "%Y" }} {{site.name }}
            </div>
            <div class="col-md-6 col-sm-6 text-center text-lg-right">{{site.description}}</div>
        </div>
    </footer>
</body>

</html>