---
layout: default
archive: false
post_class: post-template
---

<script type="text/javascript" async src="https://cdn.jsdelivr.net/npm/mathjax@3.1.2/es5/tex-mml-chtml.js"></script>
<script type="text/x-mathjax-config">MathJax.Hub.Config({TeX: { equationNumbers: { autoNumber: "AMS" } }});</script>

{% if page.image %}
<img class="featured-image img-fluid" src="{% if page.image contains '://' %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif
        %}" alt="{{ page.title }}">
{% endif %}

<h1 class="posttitle" style="width: 100%;text-align: center;">{{ page.title }}</h1>

<a id="prevCont" href="{{ page.previous.url| default:'#'}}" style="position:absolute;left:0;top:100%;">
    <style>
        #previous,
        #prev_post {
            position: absolute;
            color: #fff;
        }

        #prev_post {
            width: 200px;
            background: #fff;
            color: #000;
            left: 50px;
            top: 20%;
            transform: translateX(-400px);
            transition: transform 0.2s ease;
        }

        #prevCont:hover #prev_post {
            transform: translateX(0px);
        }

        @media (max-width: 768px) {
            #prevCont {
                display: none;
            }
        }
    </style>
    <div id="previous" class="px-4 py-5" style="background:var(--theme);">&larr;</div>
    <div id="prev_post" class="p-4">
        <span style="color:#888;font-size: 0.8em;">PREVIOUS</span> <br>
        <span style="font-weight: bold;color:#000;">{{page.previous.title | default:"All Caught Up!"}}</span>
    </div>
</a>

<div class="container" id="main">
    <style>
        .article-post img {
            border-radius: 10px;
        }

        .img-fluid {
            max-height: 200px;
            width: 100%;
            object-fit: cover
        }

        .sharesheet {
            align-items: center;
            justify-content: center;
        }
    </style>
    <script>
        const copyToClipboard = () => {
            const el = document.createElement( 'textarea' );
            el.value = window.location.href;
            el.setAttribute( 'readonly', '' );
            el.style.position = 'absolute';
            el.style.left = '-9999px';
            document.body.appendChild( el );
            const selected =
                document.getSelection().rangeCount > 0
                    ? document.getSelection().getRangeAt( 0 )
                    : false;
            el.select();
            document.execCommand( 'copy' );
            document.body.removeChild( el );
            if ( selected ) {
                document.getSelection().removeAllRanges();
                document.getSelection().addRange( selected );
            }
        };
    </script>
    <div class="row">
        <div class="col-md-2">
            <button class="flex-col sharesheet" onclick="copyToClipboard()">
                <svg viewBox="0 0 32 32" width="32" height="32">
                    <path
                        d="M18 8 C18 8 24 2 27 5 30 8 29 12 24 16 19 20 16 21 14 17 M14 24 C14 24 8 30 5 27 2 24 3 20 8 16 13 12 16 11 18 15" />
                </svg>
                <span>
                    Copy Link
                </span>
            </button>
        </div>
        <div class="col-md-9 flex-first flex-md-unordered">
            <div class="article-post">
                {% if page.toc %}
                {% if page.beforetoc %}
                <p><em>{{page.beforetoc}}</em></p>
                {% endif %}
                <div class="toc mt-4 mb-4 lead">
                    <h3 class="font-weight-bold">Summary</h3>
                    {% include toc.html html=content %}
                </div>
                {% endif %}
                {{content}}
            </div>

            <p>
                <small>
                    <span class="post-date"><time class="post-date" datetime="{{ page.date | date:" %Y-%m-%d" }}">{{
                            page.date | date_to_string }}</time></span>
                    {% if page.last_modified_at %}
                    (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}"
                        itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                    {% endif %}
                </small>
            </p>

            <div class="after-post-cats">
                <ul class="tags">
                    {% assign sortedCategories = page.tags | sort %}
                    {% for category in sortedCategories %}
                    <li class="my-2">
                        <a class="smoothscroll" href="{{site.baseurl}}/tags#{{ category | replace: " "," -" }}">{{
                            category }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>


    <script>
        const nav = document.querySelector( 'nav' );

        const bod = document.body;
        const height = window.innerHeight
        window.addEventListener( "scroll", () => {
            let scrollPercentRounded = Math.round( window.scrollY * 100 / ( bod.offsetHeight - height ) );
            bod.style.setProperty( '--read', scrollPercentRounded + '%' );
        } );
    </script>
    <style>
        :root {
            --read: 50%;
        }

        nav::after {
            transition: width 0.1s ease;
            content: '';
            left: 0;
            width: calc(var(--read));
            height: 4px;
            background: var(--theme);
            position: absolute;
            bottom: -4px;
        }
    </style>
</div>