---
layout: default
archive: false
post_class: post-template
---

<script type="text/javascript" async src="https://cdn.jsdelivr.net/npm/mathjax@3.1.2/es5/tex-mml-chtml.js"></script>
<script type="text/x-mathjax-config">MathJax.Hub.Config({TeX: { equationNumbers: { autoNumber: "AMS" } }});</script>

{% assign charCount = page.content | size %}
{% assign wordCount = page.content | number_of_words %}

{% assign author = site.data.authors[page.author] %}

<script>
    const wordCount = {{ wordCount }};
    const charCount = {{ charCount }};
    const sents = ( `{{ content| strip_html | strip_newlines}}` ).replace( /\d+\.?\d*/g, "" );
</script>

{% if page.image %}
<img class="featured-image img-fluid" src="{% if page.image contains '://' %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif
        %}" alt="{{ page.title }}">
{% endif %}

<a id="prevCont" href="{{ page.previous.url| default:'#'}}" style="position:absolute;left:0;top:100%;">
    <div id="previous" class="px-4 py-5" style="background:var(--theme);">&larr;</div>
    <div id="prev_post" class="p-4">
        <span style="color:#888;font-size: 0.8em;">PREVIOUS</span> <br>
        <span style="font-weight: bold;color:#000;">{{page.previous.title | default:"All Caught Up!"}}</span>
    </div>
</a>

<div class="container" id="main">
    <div class="row">
        <div class="col-md-2">
            <button class="flex-col sharesheet" onclick="copyToClipboard()">
                <svg viewBox="0 0 32 32" width="32" height="32">
                    <path
                        d="M18 8 C18 8 24 2 27 5 30 8 29 12 24 16 19 20 16 21 14 17 M14 24 C14 24 8 30 5 27 2 24 3 20 8 16 13 12 16 11 18 15" />
                </svg>
                <span>
                    Copy Link
                </span>
            </button>
        </div>
        <div class="col-md-9 flex-first flex-md-unordered">
            <div class="article-post">

                <div class="text-center">
                    <h1 class="posttitle w-100">{{ page.title }}</h1>
                    <div style="color: #999;">
                        {%if author %}
                        <span>{% if author.nick %}{{author.nick}}{% else %}{{author.name}}{% endif %}</span>
                        {% else %}
                        <span>{{page.author}}</span>
                        {% endif %}
                        <span>&bull;</span>
                        <span id="difficulty">Fun</span>
                        <span>&bull;</span>
                        <span> {{wordCount | divided_by: 244}} min</span>
                    </div>
                </div>
                {{content}}
            </div>

            <p>
                <small>
                    <span class="post-date"><time class="post-date" datetime="{{ page.date | date:" %Y-%m-%d" }}">{{
                            page.date | date_to_string }}</time></span>
                    {% if page.last_modified_at %}
                    (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}"
                        itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                    {% endif %}
                </small>
            </p>

            <div class="after-post-cats">
                <ul class="tags">
                    {% assign sortedCategories = page.tags | sort %}
                    {% for category in sortedCategories %}
                    <li class="my-2">
                        <a class="smoothscroll" href="{{site.baseurl}}/tags#{{ category }}">{{
                            category | replace: "_", " " }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="p-3 bg-light d-lg-flex text-center text-lg-left" style="position:relative;">
                <svg class="ml-auto" viewBox="0 0 32 32" width="20" height="20"
                    style="position:absolute;top:1em;right:1em;">
                    <path d="M14 9 L3 9 3 29 23 29 23 18 M18 4 L28 4 28 14 M28 4 L14 18" />
                </svg>

                <img class="rounded-circle m-2"
                    src="{% if author.avatar %}{{author.avatar}}{% else %}{{site.defualts.author.avatar}}{% endif %}"
                    width="100px" height="100px" alt="" style="object-fit: cover;">

                <div class="p-2">
                    <h5>{{author.name}} {% if author.nick %}({{author.nick}}){% endif %}</h5>
                    <span class="w-75">{{author.bio | truncate: 280}}</span>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ site.baseurl }}/assets/js/post.js"></script>

    <style>
        .article-post img {
            border-radius: 10px;
        }

        .img-fluid {
            max-height: 200px;
            width: 100%;
            object-fit: cover
        }

        .sharesheet {
            align-items: center;
            justify-content: center;
        }

        :root {
            --read: 0%;
        }

        nav::after {
            transition: width 0.1s ease;
            content: '';
            left: 0;
            width: calc(var(--read));
            height: 4px;
            background: var(--theme);
            position: absolute;
            bottom: -4px;
        }

        #previous,
        #prev_post {
            position: absolute;
            color: #fff;
        }

        #prev_post {
            width: 200px;
            color: #000;
            left: 50px;
            top: 20%;
            opacity: 0;
            transform: translateX(-200px);
            transition: transform 0.2s ease, opacity 0.5s ease;
        }

        #prevCont:hover #prev_post {
            opacity: 1;
            transform: translateX(0px);
        }

        @media (max-width: 768px) {
            #prevCont {
                display: none;
            }
        }
    </style>
</div>